<nav class="navbar navbar-default" role="navigation">
     <div class="container-fluid">

       <div class="navbar-header">
         <a class="navbar-brand" href="#">
           Blogs
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/new">New Blog</a></li>
            <li><a href="/all">Blogs</a></li>
        </ul>
      </div>

   </div>
 </nav>
