<!-- views/pages/index.ejs -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
  <% include ./partials/head %>
 </head>
 <body class="container">

  <header>
    <% include ./partials/nav %>  
  </header>

  <main>
    <div class="jumbotron text-center">
      <h1>This Is Kembo's Blog </h1>
      <p>Kemboi says.....Welcome to my Blog</p>
    </div>
  </main>

 </body>
 </html>